body{
	background-color:#f7f7f7
}

body.dark-theme{
  background-color: rgb(27, 37, 37);
}


.title{
	color:#006dc9;
	text-align: center;
	font-size: xx-large;
	font-family: 'Georgia';
	font: bold;
}


body.dark-theme .title{
  color: darkcyan;
}


#map{
	height: 100vh;
	width: 75%;
}

:root {
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    body.dark-theme .leaflet-tile {
        filter: var(--leaflet-tile-filter, none);
    }

    body.dark-theme .leaflet-container {
        background: #303030;
    }
}



header{
	align-content: center;
  display: flex;
  justify-content: space-between;
}

aside{
	display: block;
	float: right;
	width: 25%;
}


.filter_panel{
	padding: 40px;
}

body.dark-theme .filter_panel{
  color: #C6C6C6;
}



.filter_title{
	color:#303030;
}

body.dark-theme .filter_title{
  color: #C6C6C6;
}



/*Dual slider range*/

.range_container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 35% auto;
  }
  
  .sliders_control {
	position: relative;
	min-height: 50px;
  }
  

  .form_control {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
  }

  body.dark-theme .form_control {
    color: #C6C6C6;
  }

  
  input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #C6C6C6;
	cursor: pointer;
  }
  
  input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	pointer-events: all;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #C6C6C6;
	cursor: pointer;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
	background: #f7f7f7;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
	box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
	-webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }
  
  input[type="number"] {
	width: 50px;
	height: 30px;
	font-size: 20px;
	border: none;
  }

  body.dark-theme input[type="number"]{
    color: #8a8383;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button {  
	 opacity: 0;
  }
  
  input[type="range"] {
	-webkit-appearance: none; 
	appearance: none;
	height: 2px;
	width: 100%;
	position: absolute;
	background-color: #C6C6C6;
	pointer-events: none;
  }
  
  #fromSlider {
	height: 0;
	z-index: 1;
  }


  /*Light-Dark theme swap*/

  .toggle{
    margin-right: 2vw;
    align-self: center ;
  }

  .toggle input[type='checkbox'] {
    display: none;
}

.toggle label {
    background-color: #777;
    border: 2px solid #555;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all ease-in-out 0.3s;
    width: 40px;
    height: 20px;
}

.toggle label::after {
    background-color: #555;
    border-radius: 50%;
    content: ' ';
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all ease-in-out 0.3s;
    width: 15px;
    height: 15px;
}

.toggle input[type='checkbox']:checked ~ label {
    background-color: #00a0fc;
    border-color: #006dc9;
}

.toggle input[type='checkbox']:checked ~ label::after {
    background-color: #0054b0;
    transform: translateX(20px);
}

.btn {
    width: 6em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    background-color: #2962ff;
    color: white;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-radius: 0.2em;
    outline: none;
    transition: all 100ms ease-in;
    position: relative;
    align-self: end;
}

/*var(--clr-primary-hover)*/

.btn:active,
.btn:hover {
	background-color:#0054b0;
}