<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>5Geo</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
	<link rel="stylesheet" href="/static/index.css" />

</head>
<body>
    <header>
        <span></span>

        <h3 class="title">5GEO</h3>

        <div class="toggle">
            <input type="checkbox" id="toggle" />
            <label for="toggle"></label>
        </div>
    </header>

    <main>
        <aside class="filter_aside">
            <div class="filter_panel">

                <h3 class="filter_title">Frecuencia (MHz)</h3>
                <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" value="703" min="703" max="3800"/>
                        <input id="toSlider" type="range" value="3800" min="703" max="3800"/>
                    </div>
                    <div class="form_control">
                        <div class="form_control_container">
                            <div class="form_control_container__time">Min</div>
                            <input class="form_control_container__time__input" type="number" id="fromInput" value="703" min="703" max="3800"/>
                        </div>
                        <div class="form_control_container">
                            <div class="form_control_container__time">Max</div>
                            <input class="form_control_container__time__input" type="number" id="toInput" value="3800" min="703" max="3800"/>
                        </div>
                    </div>
                </div>

                <hr>

                <h3 class="filter_title">Tipo de señal</h3>
                <div class="filter_container">
                    <input type="checkbox" id="check4G" title="4G" checked/>4G
                    <input type="checkbox" id="check5G" title="5G" checked/>5G
                </div>

                <hr>

                <h3 class="filter_title">Usuario de 5Geiger</h3>
                <div class="filter_container">
                    <input type="text" id="tokenInput" placeholder="Token de 5Geiger"/>
                </div> 

                <hr>

                <button onclick="applyFilter()" class="btn" id="BtnFilter">Filtrar</button>

            </div>

        </aside class="download_aside">
    
        <div id="map"></div>

        <hr>

        <aside id="graph_aside">

            <div class="filter_panel">

            <h3 class="filter_title">Tiempo de muestra</h3>
            <div class="filter_container">
                <input type="datetime-local" id="minTime"/>
                <br>
                <input type="datetime-local" id="maxTime"/>
            </div>

            <hr>

            <button onclick="dropDown()" class="btn">Descargar</button>
            
            <div id="myDropdown" class="dropdown-content">
                <button onclick="downloadMap()">Datos del mapa</button>
                <button onclick="downloadGraph()">Datos del gráfico</button>
            </div>

            </div>

        </aside>

        <div id="timeEvo"></div>
    </main>

    

    <footer>

    </footer>
</body>
</html>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

<script src="/static/heatmap.js"></script>
<script src="/static/leaflet-heatmap.js"></script>

<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>

<script src="/static/rangeController.js"></script>
<script src="/static/mapManager.js"></script>
<script src="/static/linePlotManager.js"></script>
<script src="/static/darkMode.js"></script>